/* reset*/
html { box-sizing: border-box; font-size: 10px; }
*, *:before, *:after { box-sizing: inherit; }
body, ul, li  { margin: 0; padding: 0; }
li { list-style: none; }
p, h1, h2, h3, h4, h5, h6 { margin-top: 0; }
input { border-style: none; background: transparent; outline: none; }
button { padding: 0; background: none; border: none; outline: none; }


/*some basic page styles*/
body {
   background-image: radial-gradient(circle at 0% 50%, #373b52, #252736 50%, #1d1e26);
    /*background-repeat: no-repeat;*/
}
a{
    color: #ffffff;
}
.container {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    max-width: 1600px;
    padding: 0 15px;
    margin-top: 10%;
    /*margin: 0 auto;*/

}

.webflow-style-input {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 500px;
    /*max-width: 400px;*/
    margin: 0 auto;
    border-radius: 2px;
    padding: 1.4rem 2rem 1.6rem;
    background:  rgba(57, 63, 84, 0.8);
}
.webflow-style-input:after {
     content: "";
     position: absolute;
     left: 0;
     right: 0;
     bottom: 0;
     z-index: 999;
     height: 2px;
     border-bottom-left-radius: 2px;
     border-bottom-right-radius: 2px;
     background: linear-gradient(to right, #B294FF, #57E6E6, #FEFFB8, #57E6E6, #B294FF, #57E6E6);
     background-size: 500% auto;
     animation: gradient 3s linear infinite;
 }

.webflow-style-input input {
    flex-grow: 1;
    color:  #BFD2FF;
    font-size: 1.8rem;
    line-height: 2.4rem;
    vertical-align: middle;
}

.webflow-style-input button {
    color:   #7881A1;
    font-size: 2.4rem;
    line-height: 2.4rem;
    transition: color .25s;
}
.webflow-style-input button:hover{
    cursor: pointer;
}

.container-users{
    background: #1d1e26;
    width: 500px;
}
.user{
    display: flex;
    align-items: center;
    border: 2px solid #373b52;
}
.user img{
    width: 70px;
    border-radius: 50%;
    margin: 10px;

}
.user p{
    font-size: large;
    color: #fff;
    margin: 0 auto;
}


.user:hover{
    cursor: pointer;
}
.user-followers{
    background-color: #1d1e26;
    display: flex;
    align-items: center;
    width: 300px;
    border: 2px solid #373b52;
    height: 80px;


}

.user-followers img{
    width: 70px;
    border-radius: 50%;
    /*padding: 10px;*/
    margin: 10px;
}
.user-followers p{
    font-size: large;
    color: #fff;
    margin: 0 auto;
}

.user-repos{
    background-color: #1d1e26;
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
    width: 300px;
    border: 2px solid #373b52;
    height: 80px;
}

.user-repos p{
    font-size: large;
    color: #fff;
    margin: 0 auto;

    /*overflow: hidden;*/
}
.user-repos p:first-child{
    width: 150px ;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*button{*/
/*    background-color: #BFD2FF;*/
/*}*/
button:hover{
    cursor: pointer;

}
.followers_repos{
    display: flex;
    justify-content: space-around;
}